@font-face {
  font-family: 'Monaco';
  src: url('/fonts/monaco-webfont.woff');
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
