.userInput {
    background-color: transparent;
    outline: transparent;
    caret-color: transparent;
}

.blinker {
    position: relative;
    top: -7px;

    &:after {
        position: relative;
        content: "";
        background-color: rgb(159, 162, 171);
    
        display: inline-block;
        top: 3px;
        height: 20px;
        width: 2px;
        animation: blink 1s step-start 0s infinite;
    }
}

@keyframes blink {
    50% {
      opacity: 0;
    }
  }